.home-banner {
  background-image: url("../img/shop/banner_ecommerce.jpg");
}
/* ### Status Bar ### */
.poStatusBar {
  text-align: center;
  margin: 50px;
}
.poStatusBar .img100p {
  width: 100px;
}
.poStatusBar p {
  padding-top: 15px;
  font-size: 16px;
  color: #272637;
  margin-bottom: 10%;
}

/* Margin */
.poc-m0 {
  margin: 0px !important;
}
.poc-mt-10 {
  margin-top: 10px !important;
}